@{
    ViewData["Title"] = "Новости";
}

@model IEnumerable<WebApplication1.ViewModels.Post.PostCardViewModel>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Новости</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-4">
            <h3>Личный кабинет</h3>
            <h5>Фотография:</h5>
            <div class="img">Изображение</div>
            <p>Some shit like social links</p>
            <h3>Счилочки куда-нибудь</h3>
            <p>Счилочка в телеграч</p>
            <p>А это в вк, например</p>
            <h3>Новости по месяцам</h3>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Октябрь 2020</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ноябрь 2020</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Декабрь 2020</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Январь 2021</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>

        @foreach (var post in Model)
        {
        <div class="col-md-8">
            <h3><a href="Post/Details/@post.Id">@post.Title</a></h3>
            <h5>Опубликовано: @post.Created</h5>
            <div class="img">@post.FileId</div>
            <p>@post.Description</p>
            <p></p>
            <br>
        </div>
            }
    </div>
