@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Арт-пространство</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="C:\Users\stalv\Source\Repos\GIK-Web-project\WebApplication1\wwwroot\css\site.css" />
    <style>
        .footer {
            width: 58%;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col">
                <center><a class="navbar-brand" href="#"><p><img src="~/img/logo.png" alt="Чебурбашка"></p></a></center>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-6">
                <ul class="nav nav-pills flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Post" asp-action="Index">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Market" asp-action="Index">Товары</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Contex" asp-action="Index">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <center>@await Html.PartialAsync("_LoginPartial")</center>
            </div>
        </nav>
    </div>
        <div class="container">
          @RenderBody()
        </div>
        <div class="container">
            <footer class="footer text-muted bg-light border-top">
                &copy; 2020  Арт-пространство ЧЕБУРАШКА - <a asp-area="" asp-controller="Home" asp-action="Privacy">Мой двор - моя политика</a>
            </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @RenderSection("Scripts", required: false)
        </div>
</body>
</html>