@{
    ViewData["Title"] = "Домашни    й";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p class="lead">
        Включил Razor, завёл бложик. Сейчас буду колоться бритвой.
    </p>
    <hr />


<div class="blog-post">
    <h2 class="blog-post-title">Title</h2>
    <p class="blog-post-meta">date автор: <a href="#">Автор</a></p>

    <p>Text</p>

</div>
