@{
    ViewData["Title"] = "Blog";
}

<div class="text-center">
    <h5 class="display-4">Мир Вам и Вашему бытию!</h5>
    <hr />
    <p class="lead">
        Данный небольшой тестовый блог, ютящийся на локальном хосте, очень домашний и в мир
        большого верхнего интернета никогда не выйдет, так как он боится. За сим позвольте
        рассказать о том, что цель этого тестового блога посмотреть работу ASP.NET Core, чтобы
        понять полезность данной вещи и в будущем успешно применять её, делая свою жизнь лучше.
        По ходу изучения в этом блоге будут появляться записи, где я буду делиться своими открытиями
        и впечатлениями. Ибо назвался блогом - бложь.
    </p>
</div>
