@{
    ViewData["Title"] = "Домашни    й";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p class="lead">
    <pre>Кто Чебу знал, тот его не позабудет.
        Кто Чебу не знал, увы, шансов не будет.
        Карлик на улыбке поломанными ушами,
        А за его спиною диплодоки с калашами.
        --Гена</pre>
    </p>
    <hr />


<div class="blog-post">
    <h2 class="blog-post-title">Title</h2>
    <p class="blog-post-meta">date автор: <a href="#">Автор</a></p>

    <p>Text</p>

</div>
