@{
    ViewData["Title"] = "Политика конфидециальности";
}
<br />
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p class="lead">
        Используйте эту страницу, чтобы уточнить политику конфидециальности сайта.
    </p>

</div>